// Colors

$main-color: #000; // Background
$secondary-color: #fff; // Text

$orange-color: #fdc152;
$yellow-color: #fcfad5;
$light-yellow-color: #fdfcf6;
$green-color: #4ade80;
$red-color: #df3535;

// Dimensions

$main-width: 1000px;

// Fonts

$heading-font: "Nunito", sans-serif;
$main-font: Poppins, Arial, sans-serif;
$copywrite-font: 'Courier New', Courier, monospace;

$default-font-size: 15px;

// Borders

$big-border-radius: 25px;
$medium-border-radius: 10px;
$small-border-radius: 5px;