<nav class="navigation_bar">
    <div class="navigation_container">
        <button class="hamburger" (click)="toggleMenu()">
            <i class="fa-solid" [class.fa-bars]="!is_open" [class.fa-xmark]="is_open"></i> <!-- https://fontawesome.com/icons/bars / https://fontawesome.com/icons/magnifying-glass -->
        </button>
    
        <ul [class.open]="is_open">
            <li><a href="/">Domov</a></li>
            <li (click)="scrollTo('.contact_form')"><a>Rezervácia</a></li>
            <li (click)="scrollTo('.all_dishes')"><a>Ponuka</a></li>
        </ul>

        <div class="cart">
            <p class="amount">{{ cart_amount$ | async }}</p>

            <button class="show_cart" title="Zobraziť košík" aria-label="Zobraziť košík" (click)="showCart()">
                <i class="fa-solid fa-basket-shopping"></i> <!-- https://fontawesome.com/icons/basket-shopping -->
            </button>
        </div>
    </div>
</nav>

<dialog #cart class="cart_modal" (click)="closeCartOutside($event)">
    <div class="cart_modal_container" (click)="$event.stopPropagation()">
        <div class="top">
            <h2>Môj košík</h2>
    
            <button class="close" title="Zavrieť" aria-label="Zavrieť" (click)="closeCart()">
                <i class="fa-solid fa-xmark"></i> <!-- https://fontawesome.com/icons/xmark -->
            </button>
        </div>
    
        <div class="middle">
            <p class="empty_message" *ngIf="!cart_items || cart_items.length === 0">Košík je prázdny.</p>
    
            <div class="all_items" *ngIf="cart_items && cart_items.length > 0" [style.transform]="'translateX(calc(' + (-current_index * 100) + '% + ' + (current_index * 20) + 'px))'">
                <div class="one_item" *ngFor="let one_item of cart_items; let i = index" (click)="changeCartItem(i)">
                    <img src="images/{{ one_item.image }}" alt="">
    
                    <p class="title">{{ one_item.title }}</p>
    
                    <div class="bottom">
                        <p class="price">{{ (one_item.price / 100) | currency:'EUR':'':'1.2-2':'sk-SK' }}<span>€</span></p>
                        <button class="remove_from_cart" title="Odstrániť z košíka" aria-label="Odstrániť z košíka" (click)="removeFromCart(i)"><i class="fa-solid fa-basket-shopping"></i> Odstrániť</button> <!-- https://fontawesome.com/icons/basket-shopping -->
                    </div>
                </div>
            </div>
    
            <div class="bars" *ngIf="cart_items && cart_items.length > 1">
                <div 
                    class="one_bar"
                    *ngFor="let one_item of cart_items; let i = index"
                    [class.active]="current_index === i"
                    (click)="changeCartItem(i)">
                </div>
            </div>
        </div>
    
        <div class="bottom" title="Platba" aria-label="Platba" *ngIf="cart_items && cart_items.length > 0">
            <form class="customer_form" action="">
                <div class="name_container">
                    <input type="text" name="first_name" placeholder="Meno" maxlength="20" required [(ngModel)]="customer.first_name">
                    <input type="text" name="last_name" placeholder="Priezvisko" maxlength="50" required [(ngModel)]="customer.last_name">
                </div>
    
                <div class="address_container">
                    <input type="text" name="address" placeholder="Adresa" maxlength="100" required [(ngModel)]="customer.address">
                    <input type="text" name="city" placeholder="Mesto" maxlength="50" required [(ngModel)]="customer.city">
                </div>
            
                <input type="tel" name="phone_number" placeholder="Telefón" maxlength="50" required [(ngModel)]="customer.phone_number">
                <textarea name="message" placeholder="Správa..." rows="5" maxlength="100" [(ngModel)]="customer.message"></textarea>
            </form>

            <div class="coupon_container">
                <input 
                    type="text" 
                    name="coupon_code" 
                    placeholder="Zľavový kupón" 
                    maxlength="50" 
                    [disabled]="!!applied_coupon" 
                    [(ngModel)]="coupon_code"
                >
                
                <button 
                    class="validate_coupon" 
                    title="Overiť kupón" 
                    aria-label="Overiť kupón" 
                    *ngIf="!applied_coupon"
                    [disabled]="!coupon_code.trim()" 
                    (click)="validateCoupon()"
                >
                    Overiť
                </button>
            
                <button 
                    class="remove_coupon" 
                    title="Odstrániť kupón" 
                    aria-label="Odstrániť kupón" 
                    *ngIf="applied_coupon"
                    (click)="removeCoupon()"
                >
                    Zrušiť
                </button>
            </div>
            
            <p class="coupon_message" [class.success]="!!applied_coupon" [class.error]="!applied_coupon" *ngIf="coupon_message">
                {{ coupon_message }}
            </p>
    
            <div class="tip_container">
                <input 
                    #tip_slider 
                    class="tip_slider" 
                    type="range" 
                    step="5" 
                    min="0" 
                    max="20" 
                    [value]="selected_tip" 
                    (input)="changeTipAmount(tip_slider.value)"
                >
    
                <p class="tip_amount">{{ selected_tip }}%</p>
            </div>
    
            <div class="buttons">
                <button class="checkout" title="Pokračovať k platbe" aria-label="Pokračovať k platbe" (click)="payAll()">
                    Zaplatiť <p class="total_price">{{ (grand_total_price / 100) | currency:'EUR':'':'1.2-2':'sk-SK' }}<span>€</span></p>
                </button>
    
                <button class="cash_on_delivery" title="Zaplatiť na dobierku" aria-label="Zaplatiť na dobierku" (click)="orderAll()">
                    Na dobierku <p class="total_price">{{ (price_after_discount / 100) | currency:'EUR':'':'1.2-2':'sk-SK' }}<span>€</span></p>
                </button>
            </div>
        </div>
    </div>
</dialog>